<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>controller.TransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UseraccServlet</servlet-name>
        <servlet-class>controller.UseraccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserupdateServlet</servlet-name>
        <servlet-class>controller.UserupdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserdeleteServlet</servlet-name>
        <servlet-class>controller.UserdeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserupdatesessionServlet</servlet-name>
        <servlet-class>controller.UserupdatesessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserownupdateServlet</servlet-name>
        <servlet-class>controller.UserownupdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>priceupdatesessionServlet</servlet-name>
        <servlet-class>controller.priceupdatesessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriceServlet</servlet-name>
        <servlet-class>controller.PriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriceupdateServlet</servlet-name>
        <servlet-class>controller.PriceupdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StationServlet</servlet-name>
        <servlet-class>controller.StationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStationServlet</servlet-name>
        <servlet-class>controller.AddStationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStationServlet</servlet-name>
        <servlet-class>controller.DeleteStationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StationlistServlet</servlet-name>
        <servlet-class>controller.StationlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiptServlet</servlet-name>
        <servlet-class>controller.ReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserpassupdateServlet</servlet-name>
        <servlet-class>controller.UserpassupdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StationupdateServlet</servlet-name>
        <servlet-class>controller.StationupdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/TransactionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UseraccServlet</servlet-name>
        <url-pattern>/UseraccServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserupdateServlet</servlet-name>
        <url-pattern>/UserupdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserdeleteServlet</servlet-name>
        <url-pattern>/UserdeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserupdatesessionServlet</servlet-name>
        <url-pattern>/UserupdatesessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserownupdateServlet</servlet-name>
        <url-pattern>/UserownupdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>priceupdatesessionServlet</servlet-name>
        <url-pattern>/priceupdatesessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriceServlet</servlet-name>
        <url-pattern>/PriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriceupdateServlet</servlet-name>
        <url-pattern>/PriceupdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StationServlet</servlet-name>
        <url-pattern>/StationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStationServlet</servlet-name>
        <url-pattern>/AddStationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStationServlet</servlet-name>
        <url-pattern>/DeleteStationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StationlistServlet</servlet-name>
        <url-pattern>/StationlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiptServlet</servlet-name>
        <url-pattern>/ReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserpassupdateServlet</servlet-name>
        <url-pattern>/UserpassupdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StationupdateServlet</servlet-name>
        <url-pattern>/StationupdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>jdbcClassName</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>dbUserName</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>password</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDriverURL</param-name>
        <param-value>jdbc:derby</param-value>
    </context-param>
    <context-param>
        <param-name>dbHostName</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>dbPort</param-name>
        <param-value>3306</param-value>
    </context-param>
    <context-param>
        <param-name>databaseName</param-name>
        <param-value>LoginDB</param-value>
    </context-param>
</web-app>
